.inf{
				border: 1px solid;
				width: 150px;}
				
			.inf2{
				border: 1px solid;
				width: 600px;}
				.infed{
				border: 1px solid;
				width: 75px;}
				
			.mijloc{
				border: 1px solid;
				width: 35px;
				
					text-align: center;
				}
				.logbord{
				border:1px solid;
				width: 400px;
				height:5px;
			
				}
			.size{
					height: 3%;
					width: 3%;}
			.sizeLogo{
					height: 10%;
					width: 10%;}
	        .imagine{
			   width:150px;
			   height:200px;}